@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body, html {
    background-color: lightgray;
    
}
header {
    background-color: gray;
    
}

header > h1 {
    padding: 7px;
    text-align: center;
}

span#burger {
    background-color: rgba(42, 42, 42, 0.415);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 2px;
    margin-right: 2px;
}
span#burger:hover{
    background-color: white;
    color: black;
    
}

menu {
    display: none;
    
}

menu > ul {
    list-style-type: none;
    
}

menu > ul >li > a {
    border-radius: 15px;
    display: block;
    padding: 10px;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top:  2px solid gray;
}

menu > ul >li >a:hover{
    background-color: lightgray;
    color: black;
}
main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
}
img {
    width: 90vw;
    margin: auto;
    margin-bottom: 10px;
   
}
/*.img-car > p {
    padding: 5px;
    margin: 5px;
    background-color: rgb(148, 148, 149);
    text-indent: 10px;
    margin-bottom: 10px;
}*/

article > p  {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 10px;
}
/*figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}*/



figcaption {
    
    background-color: rgb(75, 75, 75);
    color: #fff;
    font: italic smaller sans-serif;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}