@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');

:root {
    --fonte1: Verdana, Geneva Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sirin Stencil', cursive;
}
*{
    margin: 0px;
    padding: 0px;

}

html,body {
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
    
}

header {
    background-color: black;
    color: white;
    text-align: center;
    
}

header > h1 {
    padding-top: 40px;
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 5vw;
}

header >p {
    padding-bottom: 40px;
}

header a, footer a{ 
    color: rgb(255, 253, 253);
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover {
    text-decoration: underline;
    font-size: larger;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.2vw;
}

section > p{
    padding-bottom: 1em;
    text-shadow: 2px 2px 5px rgba(75, 75, 247, 0.315);
}
section.normal {
    background-color: rgb(255, 255, 255);
    color: rgb(8, 8, 8);
}

section.imagem{
    background-color: black;
    color: aliceblue;
    box-shadow: inset 5px 5px 13px -2px rgba(0, 0, 0, 0.384);
}
section#img01 {
    background-image: url("../imagens/background001.jpg");
    background-attachment: fixed;
    background-position: center center;
}
section#img01 >p{
    background-color: rgba(255, 255, 255, 0.507);
}
section#img02 {
    background-image: url("../imagens/background002.jpg");
    background-attachment: fixed;
    background-position: center right;
}
section#img02 >p{
    background-color: rgba(8, 8, 8, 0.288);
}

section.imagem > p {
    display: inline-block ;
    padding: 10px;
    text-shadow: 2px 2px 5px black;
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
 /*footer a:link{
     color: rgb(250, 250, 252);
 }
footer a:visited{
    color: green;
}
 footer a:active{
     color: red;
 }

 footer a:hover{
     color: yellow;
 }*/
